services:
  app:
    image: node:20-bookworm
    working_dir: /app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - playwright_cache:/root/.cache/ms-playwright
    environment:
      NODE_ENV: test
    command: sleep infinity

volumes:
  node_modules:
  playwright_cache:
